* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

#home {
    margin-top: 4em;
    overflow: auto;
    background-image: url(/assets/photos/IMG_4523.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 30em;
    width: 100%;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    
}

#services {
    background-color: blue;
}

#references {
    background-color: blueviolet;
}

#contact-us {
    background-color: yellow;
}

nav {
    height: 3em;
}

nav li {
    float: left;
    width: 10em;
    list-style: none;    
}

#navbar-list {
    width: 40em;
    float: right;
    justify-content: right;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-size: 18px;
}

.nav-link:hover {
    color: cornsilk;
    text-decoration: underline;
}

.nav-link {
    text-decoration: none;
    color: white;
}
#navbar {
    background-color: rgb(71, 64, 51);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: white;
    height: 3em;
    width: 100%;
    top: 0;
}

#welcome-top {
    color: cornsilk;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(172, 157, 99, .4);
    padding-top: 1em;
}

#welcome-text {
    color: cornsilk;
    text-align: center;
    background-color: rgb(172, 157, 99, .4);
    height: 6em;
}

.welcome {
    font-size: 130%;
    letter-spacing: 4px;
    width: auto;
    height: 4em;
    margin-top: 5em;
}   


.card-box {
    display: block;
    width: 35%;
    min-height: 15em;
    float: left;
    border: 1px solid grey;
    margin: 1em;
    padding: 1em;
}

footer li {
    width: 10em;
    list-style: none;  
}

#social-media-links {
    text-align: center;
}

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}