#home {
    background-color: red;
    height: 500px;
}

#services {
    background-color: blue;
    height: 500px;
}

#references {
    background-color: blueviolet;
    height: 500px;
}

#contact-us {
    background-color: yellow;
    height: 500px;
}

nav {
    height: 3em;
}

nav li {
    float: left;
    width: 10em;
    list-style: none;    
}

#navbar {
    position: fixed;
    float: right;
    width: 40em;
}

footer li {
    width: 10em;
    list-style: none;  
}

#social-media-links {
    text-align: center;
}

#social-media-links > li {
    display: inline;
}

#social-media-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}